:root{
    --primery: #1f232e;
    --secondary: #313743;
    --main: #03ebff;
    --txt: #fff;
    --lightTxt: rgba(255,255,255,.5);
    --stroke: 125;
}
@font-face {
    font-family: 'cairo';
    src: url(../static/Cairo-Bold.ttf)format('truetype'),
    url(../static/Cairo-Regular.ttf)format('truetype'),
    url(../static/Cairo-ExtraBold.ttf)format('truetype'),
    url(../static/Cairo-Black.ttf)format('truetype'),
    url(../static/Cairo-ExtraLight.ttf)format('truetype'),
    url(../static/Cairo-Light.ttf)format('truetype'),
    url(../static/Cairo-Medium.ttf)format('truetype'),
    url(../static/Cairo-SemiBold.ttf)format('truetype'),
    
}
::selection{
    background-color: var(--main);
    color: var(--primery);
}
body{
    background-color: var(--primery);
    font-family: 'cairo', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
/* navbar start */
nav{
    position: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    letter-spacing: 1px;
    z-index: 99;

}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    margin: 15px;
    width: fit-content;
}
nav ul li i{
    background-color: var(--secondary);
    padding: 15px;
    border-radius: 50%;
    transition: .15s;
    color: var(--txt);

}
nav ul li::after{
    content: attr(data-tooltip);
    background-color: var(--secondary);
    padding: 3px 15px;
    border-radius: 3px;
    display: none;
    margin-left: 10px;
}
nav ul li:hover::after{
    display: inline;
}
nav ul li i:hover{
    background-color: var(--main);
}
nav ul li.active i{
    background-color: var(--main);
    color: var(--secondary);
}
nav ul li a:active i{
    background-color: var(--main);
    color: var(--secondary);

}
/* navbar start */

/* Mobile navbar start */
.mobileNav{
    display: none;
    position: fixed;
    bottom: 0;
    background-color: var(--secondary);
    width: 100vw;
    z-index: 99;
    justify-content: space-evenly;
}
.mobileNav a.active i{
    color: var(--secondary);
    background-color: var(--main);
    width: fit-content;
    width: 100%;

}
.mobileNav a{
    width: 100%;
    text-decoration: none;
    color: var(--txt);
}
.mobileNav a i{
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    text-align: center;

}
.mobileNav a:not(.active):hover i{
    color: var(--main);
}

/* Mobile navbar end */

/* home start */
.info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100vh;
}
.info h1:first-child{
    color: var(--main);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;

}
.info h1:last-of-type{
    color: var(--txt);
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 1px;

}
.info p{
    max-width: 480px;
}
.btn{
    border: 2px solid var(--main);
    margin-right: 30px;
    padding: 6px 28px;
    font-weight: 100;
    letter-spacing: 1px;
}
.main.btn{
    color: var(--txt);
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.main.btn::after{
    content: "";
    transform: translate(-40%,-10%);
    width: 360px;
    height: 60px;
    position: absolute;
    background-color: var(--main);
    transition: .3s;
    transform-origin: center;
    z-index: -1;
}
.main.btn:hover{
    border: 2px solid var(--main);
    color: var(--main);
    
}
.main.btn:hover::after{
    transform: translate(10%,-30%);
}


.sec.btn{
    color: var(--main);
    overflow: hidden;
    position: relative;

}
.sec.btn::after{
    content: "";
    transform: translate(10%,-30%);
    width: 360px;
    height: 60px;
    position: absolute;
    background-color: var(--main);
    transition: .3s;
    transform-origin: center;
    z-index: -1;
}
.sec.btn:hover{
    border: 2px solid var(--main);
    color: var(--txt);
}

.sec.btn:hover::after{
    transform: translate(-40%,-30%);

}

.avatar{
    animation: avatar 5s backwards infinite; 
}
@keyframes avatar {
    50%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(0px);
    }
}
/* home end */

/* about me start */
.main-title{
    margin-top: 100px;
}
.main-title h1{
    color: var(--txt);
    letter-spacing: 1px;
    position: relative;

}
.main-title h1 span{
    color: var(--main);
    font-weight: bolder;
}
.sub-title h4{
    color: var(--txt);
}

.aboutMe{
    width: 100%;
}
.myInfosBox h4{
    letter-spacing: 1px;
    color: var(--txt);
}
.myInfosBox .personal-infos{
    display: inline-flex;
    width: 50%;
    flex-wrap: wrap;

}
.myInfosBox .personal-infos p{
    width: 50%;
    color: var(--txt);
    text-transform: capitalize;

}
.myInfosBox .personal-infos p span{
    color: var(--main);
    margin-left: 5px;
}

.myInfosBox .numbers{
    display: inline-flex;
    align-self: end;
    max-width: 350px;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 130px;
}
.numbers .numbersItem{
    padding: 10px;

    border: 2px solid var(--secondary);
}
.numbers h1{
    color: var(--main);
    margin: 0;

}
.numbers p{
    color: var(--txt);
    font-weight: 100;
    padding-left: 40px;
    max-width: 130px;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
}
.numbers p::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: var(--secondary);
    top: 10px;
    left: 5px;
}

/* about me end */

/* skills start */
.skill{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;

}
.skill p{
    min-width: 100px;
    margin-top: 15px;
}
.cuircle-bar svg{ 
    width: 100px;
}
.cuircle-bar{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar {
    stroke-dashoffset: 251;
    stroke: var(--main);
    fill: transparent;
    stroke-width: 10;
    transition: stroke-dashoffset 2s ease-in;
}
.label{
    color: var(--main);
    position: absolute;
}
/* skills end */

/* services start */
.services{
    gap: 10px;
    flex-wrap: nowrap;
}
.services .serve{
    background-color: var(--secondary);
    padding: 25px;
    transition: .2s;
}
.services .serve:hover{
    background-color: var(--main);

}
.services .serve:hover :is(a, i){
    color: var(--txt);

}
.services .serve:hover p{
    color: #ffffffbe;
}

.services .serve h5{
    color: var(--txt);
}
.services .serve i{
    color: var(--main);
    font-size: 30px;
    margin: 10px 0 15px;
}
.services .serve p{
    color: var(--lightTxt);
}
.services .serve a{
    text-decoration: none;
    color: var(--main);
}
.services .serve a i{
    font-size: 16px;
    margin-left: 5px;
}

/* services end */

/* work tart */
.work .box{
    background-color: var(--secondary);
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.work .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: #03ebff9e;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #fff;
    transition: .3s;
    font-size: 1.2rem;
    transform: translateX(calc(110% - 5px));
}
.work .box:hover::before{
    transform: translateX(0);
}
.box{
    box-shadow: 0px 0px 16px 0px #00000082;
}
.item{
    cursor: pointer;
}

/* work end */

/* contact start */
form :is(input:not(:last-child), textarea){
    margin-bottom: 20px;
    padding: 15px;
    width: 60%;
    border: 2px solid var(--primery);
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--main);
    outline: none;
}
form input:last-child{
    margin: 0;
    background-color: var(--main);
}
form input:last-child:hover{
    background-color: var(--primery);

}
/* contact end */

/* accounts start */
.theAccs{
    gap: 30px;
    justify-content: center;
}
.acc{
    display: inline-flex;
    padding: 5px;
    width: fit-content;
    background-color: var(--secondary);
    border-radius: 50px;

}
.acc:hover i{
    background-color: var(--main);

}
.acc i{
    background-color: var(--txt);
    color: var(--primery);
    border-radius: 50px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .2s;

}
.acc p{
    display: inline-block;
    color: var(--main);
    margin: 0 15px;
    align-self: center;
}
#clickable{
    cursor: pointer;
}
/* accounts end */


@keyframes bar{
    to{
        stroke-dashoffset: var(--stroke);
    }
}
@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    nav{
        display: none;
    }
    .mobileNav{
        display: flex;
    }
    .info{
        margin: 40px;

    }
    .avatar{
        display: none;
    }
    .btn{
        border: 2px solid var(--main);
        margin-right: 10px;
        padding: 5px 20px;
        font-weight: 700;
        font-size: 12px;
        
    }
    .myInfosBox {
        margin: 20px;
    }
    .myInfosBox .personal-infos {
        width: auto;
    }
    .myInfosBox .personal-infos p{
        font-size: 14px;
    }
    .numbers{
        margin-top: 20px;
        margin-left: 30px !important;
        justify-content: center;
    }
    .services{
        flex-wrap: wrap;
        gap: 20px;
    }
    .serve{
        width: 90%;
        margin: auto;

    }
    .skill{
        width: 50%;
        margin: auto;

    }
}
@media screen and (max-width: 768px) {
    .numbers{
        margin-left: 0px !important;

    }

}